<div id="home-image" class="section">
    <div id="logo-wrapper">
        <a id="logo" href="#home-image">Brian Viviers</a>
        <hr />
        <div id="navbar" class="navbar">
            <ul>
                <li><a href="#experience" class="button">Experience</a></li>
                <li><a href="#portfolio" class="button">Portfolio</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="experience" class="section">
    <h2><span class="line"></span>Here's what I've done so far<span class="line"></span></h2>
    <div class="experience-container">
        {% for exp in site.data.experience %}
        <div class="experience-item">
            <span class="experience-item-img">
                <img src="../images/{{ exp.image }}" alt="{{ exp.image }}" />
            </span>
            <div class="experience-item-description">
                <h2>{{ exp.place }}</h2>
                <span class="experience-position">{{ exp.position }}</span> -
                <span class="experience-date">{{ exp.period }}</span>
                <div>{{ exp.title }}</div>
                <div class="italic">{{ exp.description1 }}</div>
                <div>{{ exp.description2 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="portfolio" class="section">
    <h2><span class="line"></span>Some projects I have done<span class="line"></span></h2>
    <div class="flexbox-container">
        {% for portfolio in site.data.portfolio %}
        <a id="{{ portfolio.id }}" href="#{{ portfolio.href }}" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-top">
                <h2 class="portfolio-item-text-heading">{{ portfolio.heading }}</h2>
                <h3 class="portfolio-item-text">{{ portfolio.description }}</h3>
            </div>
            <div class="portfolio-bottom">
                <img src="{{ portfolio.image }}" class="img-responsive" />
            </div>
            <i class="fa fa-search-plus fa-3x disappear"></i>
        </a>
        {% endfor %}
    </div>
</div>

{% for portfolio_objects in site.data.portfolio_objects %}
<div id="{{ portfolio_objects.id }}" class="modalWindow">
    <a href="" class="close-{{ portfolio_objects.id }} close-modal">
        <div class="lr">
            <div class="rl">
            </div>
        </div>
    </a>
    <div class="modal-content">
        {% capture content %}{% include {{portfolio_objects.id}}.html %}{% endcapture %}
        {{ content  }}
    </div>
</div>
{% endfor %}
