<footer class="site-footer section">
    <div class="contact">
        <p>Contact me:</p>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    <div class="social-media">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i> GitHub
        </a><br />
        {% endif %}
        {% if site.linkedin_username %}
        <a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin"></i> Linkedin
        </a>
        {% endif %}
    </div>
    <div class="footer-img"><img src="../images/Fizz.jpg" /></div>
    <div class="copyright">
        <p id="copyright">Copyright &copy; <span id="year"></span> Brian Viviers</p>
    </div>
</footer>
<script type='text/javascript' src="js/Site.js"></script>
<script type='text/javascript' src="js/modernizr.js"></script>
<script type='text/javascript' src="js/jquery-2.2.2.min.js"></script>
<script type='text/javascript' src="js/plugins.js"></script>
<script type='text/javascript' src="js/animatedModal.min.js"></script>
