<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Computer science student studying at the University of Plymouth">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, Java, C#, .NET, Computer Science, Software Engineer">
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/vertical-timeline.css" />
    <link rel="stylesheet" href="css/horizontal.css" />
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="js/jquery-2.2.2.min.js"></script>
    <title>Brian Viviers</title>
</head>